extends layout 
block content 
  nav(aria-label='breadcrumb')
    ol(class='breadcrumb')
      li(class='breadcrumb-item')
        a(href='/quizmanager/') Home 
      li(class='breadcrumb-item')
        a(href='/quizmanager/quizzes') All Quizzes
      li(class='breadcrumb-item')
        a(href=quiz.url) Quiz Questions
      li(class='breadcrumb-item active' aria-current='page') Edit Question
  h1 Edit Question
  each question in quiz.questions 
      if question._id == question_id
        form(method='POST' action='')
          div.form-group 
            label(for='question') Question
            input#question.form-control(type='text', value=question.question name="question" required='true')
          button.btn.btn-primary(type='submit') Submit change