extends layout 
block content
  nav(aria-label='breadcrumb')
    ol(class='breadcrumb')
      li(class='breadcrumb-item')
        a(href='/quizmanager/') Home 
      li(class='breadcrumb-item')
        a(href='/quizmanager/quizzes') All Quizzes
      li(class='breadcrumb-item')
        a(href=quiz.url) Quiz Questions
      li(class='breadcrumb-item')
        a(href=quiz.url+'/answers/'+question_id) Quiz Answers
      li(class='breadcrumb-item active' aria-current='page') Edit Answer
  h1 Edit an existing answer 
  each question in quiz.questions 
      if question._id == question_id 
        each answer in question.answers
          if answer._id == answer_id
            form(method='POST' action='')
              div.form-group 
                label(for='answer') Answer
                input#answer.form-control(type='text', value=answer.answer_option name="answer" required='true')
              button.btn.btn-primary(type='submit') Submit change