const quizzes = require('../public/images/quizzes.png');
extends layout
block content
  div(class='home')
    h1 Welcome!
    div(class='card' style="width: 18rem;")
      img(src=quizzes class='card-img-top')
      div(class='card-body')
        a(href='/quizmanager/quizzes' class='card-title') View all quizzes
        p(class='card-text') Click here to view all quizzes
    if permission === 'edit'
      a(href='/quizmanager/createquiz') Add new quiz
