doctype html
html
  head
    title= title
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway")
  body
    div(class='header_container')
      h1(class='main_title') Quiz Manager.
      a(href='/quizmanager/logout' class='log_out') Log Out
    hr
    block content