extends layout
block content
  nav(aria-label='breadcrumb')
    ol(class='breadcrumb')
      li(class='breadcrumb-item')
        a(href='/quizmanager/') Home 
      li(class='breadcrumb-item active' aria-current='page') All Quizzes
  h1 All Quizzes
  div(class='container')
    - all_quizzes.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each quiz in all_quizzes
      div(class='card text-center' style='width: 18rem')
        div(class='card-body')
          p(class='card-title') #{quiz.title}
          a(href=quiz.url class="btn btn-primary") View Quiz
    else
      li There are no quizzes.