extends layout 
block content 
  h1 Restricted access section 
  p Uh Oh! Looks like you accessed a page which is available to users with other access permissions. You don't have the right permissions to view this page.